.color {
    background-color: black;
    height: 650px;
    margin-left: -63px;
    position: absolute;
    
}

.colorTwo {
    background-color: #d9d9d9;
    height: 650px;
    width: 62%;
    margin-left: 506px;
    position: absolute;
}


.container {
    position: relative;
}

.text {
    margin-left: -365px;
    color: white;
}


.Main {
    border: 2px solid white;
    margin-top: 15%;
    margin-left: 23%;
    width: 300px;
    height: 250px;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 30px;
    padding-left: 390px;
    position: absolute;
    z-index: 9
}

.cards {
    margin-top: 60%;
}